.product-container {
    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    .fs14 {
        font-size: 14px;
    }
    &:hover {
        box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
        overflow: hidden;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    img {
        box-shadow: 0 3px 16px 0 rgba(0,0,0,0.3);
        padding: 5px;
        background: #fff;
    }
}