@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
    padding: 25px 80px;
    background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}
@media (min-width: 1200px) {
    .container {
        max-width: 1290px;
    }
}

.logo {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
    &:after {
        content: "dreamdealer";
        position: absolute;
        left: -10px;
        top: 2px;

        background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
        background-size: 4px 4px;
        -webkit-text-fill-color: transparent;
        z-index: -5;
        display: block;
        text-shadow: none;
    }
}
.header {
    display: flex;
    justify-content: space-between;
}
.menu {
    .menu-list {
        display: inline-block;
        margin: 0 10px;
        position: relative;
        transform: skewy(-3deg);
        -webkit-transform: skewy(-3deg);
        transition: 200ms all;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transition: 200ms all;
        &:hover {
            margin: 0 -2px;
        }
        &:after, &:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 100%;
            background: #BBB;
            transform: skewY(8deg);
            -webkit-transform: skewY(8deg);
            z-index: -3;
            border-radius: 4px;
        }
        &:after {
            background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, .4) 100%);
            right: 0;
            top: -4px;
        }
        &:before {
            left: 0;
            bottom: -4px;
            background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, .4) 100%);
        }
        span {
                text-transform: uppercase;
                font-family: 'Squada One', cursive;
                font-weight: 800;
                display: block;
                background: #FFF;
                padding: 2px 10px;
                color: #333;
                font-size: 35px;
                text-align: center;
                text-decoration: none;
                position: relative;
                z-index: 1;
                text-shadow:
                    1px 1px 0px #FFF,
                    2px 2px 0px #999,
                    3px 3px 0px #FFF;
                background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .05) 100%);
                transition: 1s all;
                -webkit-transition: 1s all;
                background-image: -webkit-linear-gradient(left top,
                        transparent 0%, transparent 25%,
                        rgba(0, 0, 0, .15) 25%, rgba(0, 0, 0, .15) 50%,
                        transparent 50%, transparent 75%,
                        rgba(0, 0, 0, .15) 75%);
                background-size: 4px 4px;
                box-shadow:
                    0 0 0 1px rgba(0, 0, 0, .4) inset,
                    0 0 20px -5px rgba(0, 0, 0, .4),
                    0 0 0px 3px #FFF inset;
                &:hover {
                    color: #d90075;
                }
        }
    }
}